<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">Expense Reason</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>

  <div id="container">
    <strong>讓我們來點中文吧:D</strong>
    <p>{{text}} <a target="_blank" rel="noopener noreferrer"
         href="https://ionicframework.com/docs/components">UI Components</a></p>

    <ion-input type="text" placeholder="Awesome Input" [(ngModel)]="yourName"></ion-input>

    {{yourName}}

    <ion-button (click)="onClick()" fill="outline" color="primary">
      Change Text
    </ion-button>
  </div>
</ion-content>
